
*{
    margin: 20px;
    padding: 0;
    
}


h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: dashed;
}

table{
    width: 100%;
    border: 3px solid black;
background: #ccc;
}


.table-header{
    border: 3px solid black;
    height: 50px;
    font-weight: bolder;
    color: black;
    background: darkgreen;
    font-size: larger;
}


th{
    border: 3px solid black;

}


td{
    border: 3px solid black;

}

.olderF{
background: pink;
color: black;
}

.olderM{
  background: black;
  color: white;  
}

.youngerF{
background: red;
}
.youngerM{
background: grey;
}

.lists{
    display: flex;
    flex-direction: column;
    font-size: 200%;
}
.males{
    list-style: none;
    padding: 20px 40px;
    background-image: url(/Images/male-symbol-11550718972h3jxxs74hb.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;

}

.females{
    list-style: none;
    padding: 20px 40px;
    background-image: url(/Images/male-symbol-11550718972h3jxxs74hb.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;  
}

.contactForm{
    border: 2px black;
    display: flex;
    flex-direction: column;
    font: inherit;
    font-size: larger;
    

}

.send-btn{
    width: 200%;
    height: 200%;
}
